Repository impress-org/givewp-website-licensing-server: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, ./vendor/bin/phpcs --standard=PSR2, ./vendor/bin/phpcbf --standard=PSR2

chore: add prettierrc.json
  .prettierrc.json
Due: prettier --write

chore: run composer update
  composer.lock
Due: none

test: set mysql formatted expired date for license
  tests/Unit/Repositories/TestLicenses.php
Due: ./vendor/bin/phpcs --standard=PSR2, ./vendor/bin/phpcbf --standard=PSR2

fix: use gcloud beta to deploy for vpc support
  .circleci/app.yaml
  .circleci/config.yml
Due: none

chore: remove unused phpcs command
  .lintstagedrc.json
Due: prettier --write

chore: update husky
  package.json
  yarn.lock
Due: prettier --write

feature: set up redis connection
  .circleci/app.yaml
  .circleci/config.yml
Due: none

feature: include predis and illuminate/redis packages
  composer.json
  composer.lock
Due: prettier --write

chore: update readme file with setup instructions
  readme.md
Due: none

chore: add evn.example
  .env.example
Due: none

chore: update phpunit testing description
  readme.md
Due: none

chore: add app description to readme.md
  readme.md
Due: none

chore: improve readme.md file formatting
  readme.md
Due: none

chore: remove extra license
  readme.md
Due: none

chore: add staging and live site link
  readme.md
Due: none

chore: add chnages requested by mike
  readme.md
Due: none

chore: few grammatical corrections
  readme.md
Due: none

chore: do not need to lint before pushing changes
  .huskyrc.json
Due: prettier --write

chore: correct vpc connector name and more unnecessary command
  .circleci/app.yaml
  .circleci/config.yml
Due: none

feature: load redis during bootstrapping
  bootstrap/app.php
Due: ./vendor/bin/phpcs --standard=PSR2, ./vendor/bin/phpcbf --standard=PSR2

chore: add postman routes
  .postman/postman_collection.json
Due: prettier --write

chore: renam file
  .postman/staging_givewp_collection.json
Due: prettier --write

chore: add postman routes of givewp.com
  .postman/givewp_collection.json
Due: prettier --write

fix: add circle token to render links
  readme.md
Due: none

chore: organize postman routes
  .postman/GiveWP.postman_collection.json
  .postman/GiveWP_Licensing.postman_collection.json
  .postman/givewp_collection.json
  .postman/staging_givewp_collection.json
Due: prettier --write

chore: update readme.md
  readme.md
Due: none

chore: add phpcs.xml
  phpcs.xml
Due: none

chore: run phpcs on build
  .circleci/config.yml
Due: none

chore: improve code formatting
  .circleci/set-environment-var.php
  app/Http/Controllers/LicenseController.php
  app/Repositories/Licenses.php
  tests/Unit/Models/TestLicense.php
  tests/Unit/Repositories/TestAddons.php
  tests/Unit/Repositories/TestLicenses.php
  tests/Unit/Repositories/TestSubscriptions.php
Due: ./vendor/bin/phpcs --standard=PSR2, ./vendor/bin/phpcbf --standard=PSR2

chore: organize exclude-pattern
  phpcs.xml
Due: none

chore: install @prettier/plugin-php
  package.json
  yarn.lock
Due: prettier --write

chore: match code line length with phpcs
  .prettierrc.json
Due: prettier --write

chore: improve code fomatting
  tests/CreatesApplication.php
  tests/Helpers.php
  tests/Unit/Commands/TestAppUpdate.php
  tests/Unit/Models/TestLicense.php
  tests/Unit/Models/TestSubscription.php
  tests/Unit/Models/TestSystemOption.php
  tests/Unit/Repositories/TestAddons.php
  tests/Unit/Repositories/TestLicenses.php
  tests/Unit/Repositories/TestSubscriptions.php
  tests/Unit/Repositories/TestSystemOptions.php
  tests/Unit/Routes/TestAuthLogin.php
Due: ./vendor/bin/phpcs --standard=PSR2, ./vendor/bin/phpcbf --standard=PSR2

chore: improve code fomatting
  app/Console/Commands/AppFresh.php
  app/Console/Commands/AppUpdate.php
  app/Console/Commands/AppVersion.php
  app/Exceptions/Handler.php
  app/Http/Controllers/ArtisanController.php
  app/Http/Controllers/UpdateDataController.php
  app/Http/Middleware/JwtMiddleware.php
  bootstrap/app.php
  tests/Helpers.php
  tests/Unit/Models/TestAddon.php
Due: ./vendor/bin/phpcs --standard=PSR2, ./vendor/bin/phpcbf --standard=PSR2

chore: run prettier before phpcbf
  .lintstagedrc.json
Due: prettier --write

chore: update .gloudignore
  .gcloudignore
Due: none

chore: bump version to 0.2.0-beta.1
  config/app.php
Due: ./vendor/bin/phpcs --standard=PSR2, ./vendor/bin/phpcbf --standard=PSR2

chore: do not deploy readme or phpunit.xml files
  .gcloudignore
Due: none

feature: add temporary endpoint for testing redis
  routes/web.php
Due: ./vendor/bin/phpcs --standard=PSR2, ./vendor/bin/phpcbf --standard=PSR2

fix: only autload test Helpers on dev
  composer.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.json
  ./vendor/bin/phpcs --standard=PSR2: any of: *.php
  ./vendor/bin/phpcbf --standard=PSR2: any of: *.php
